NEXT_PUBLIC_SUPABASE_URL=https://pcrrpujuwtentvlorvgs.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_u7CmHep1YAuOjqjrjUWcDw_cOQEIXLX
ANTHROPIC_API_KEY=ضع_مفتاحك_هنا
NEXTAUTH_SECRET=alamani-secret-2024
NEXTAUTH_URL=http://localhost:3000
